<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Didatikos Dashboard</title>
</head>

<body>
    <div class="flex-dashboard">
        <sidebar>
            <div class="siderbar-title">
                <img src="" alt="">
                <h2>LOGO AQUI</h2>
    
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-home"></i>
                        <a href=""></i>  Dashboard</a></li>
                    <li>
                        <i class="fas fa-user"></i>
                        <a href="" ></i>  Perfil</a></li>
                    <li>
                        <i class="fas fa-cog"></i>
                        <a href="">  Configurações</a></li>
                    <li>
                        <i class="far fa-question-circle"></i>
                        <a href=""></i>  Ajuda</a></li>
                </ul>
            </div>
        </sidebar>
        <main>
                <header>
                    <a href="#"><i class="fas fa-home"></i> Dashboard</a>
                    <a href="#"><i class="fas fa-sign-out-alt"></i></i> Logout</a>
                </header>
                <div class="main-content">
                 <div class="main-content-title">
                     <h2>Dashboard</h2>
                 </div>
                 <div class="dashboard-content">
                     <div class="dashboard-flex-parent">
                         <div class="dashboard-box">
                             <div class="box-icon ">
                                <i class="fas fa-server "></i>
                            </div>
                                 <div class="value">Disco Virtual</div>
                                     <div class="type"></div>
                         </div>
                         <div class="dashboard-box">
                            <div class="box-icon">
                                <i class="fas fa-video "></i>
                           </div>
                                <div class="value">Aulas ao vivo</div>
                                    <div class="type"></div>
                        </div>
                        <div class="dashboard-box">
                            <div class="box-icon">
                                <i class="fas fa-square-root-alt "></i>
                           </div>
                                <div class="value">notas</div>
                                    <div class="type"></div>
                        </div>
                        <div class="dashboard-box">
                            <div class="box-icon">
                                <i class="fas fa-phone-volume "></i>
                           </div>
                                <div class="value">plantoes</div>
                                    <div class="type"></div>
                        </div>
                        
                         
                         
                    </div>
                </div>

                <div class="main-content">
                    <div class="main-content-title">
                        <h2></h2>
                    </div>
                    <div class="dashboard-content">
                        <div class="dashboard-flex-parent">
                            <div class="dashboard-box">
                                <div class="box-icon ">
                                    <i class="fas fa-book-reader "></i>
                               </div>
                                    <div class="value">simulados</div>
                                    <button type="button" class="btn btn-danger m-1  "><span class="badge">7</span></button>
                            </div>
                            <div class="dashboard-box">
                               <div class="box-icon">
                                <i class="fas fa-chalkboard-teacher "></i>
                              </div>
                                   <div class="value">Aulas arquivos</div>
                                   <button type="button" class="btn btn-danger m-1  "><span class="badge">7</span></button>
                           </div>
                           <div class="dashboard-box">
                               <div class="box-icon">
                                <i class="fas fa-bell "></i>
                              </div>
                                   <div class="value">plantoes</div>
                                       <div class="type"></div>
                           </div>
                           <div class="dashboard-box">
                               <div class="box-icon">
                                <i class="fas fa-comment-alt "></i>
                              </div>
                                   <div class="value">comunicados</div>
                                       <div class="type"></div>
                           </div>
                           
                            
                            
                       </div>
                   </div>
                       
                 

            
                 <div class="table">
                    
                        <table class="table table-striped ml-15 ">
                            <thead>
                            <tr>
                                <th scope="col">Disciplina</th>
                                <th scope="col">Professor</th>
                                <th scope="col">Qtd Aulas</th>
                                <th scope="col">Qtd Trabalhos</th>
                                <th scope="col">Qtd Exercicios</th>
                                <th scope="col">Qtd Arquivos</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row"> <a href="https://google.com">Matematica</a></th>
                                <td>Adalto</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row"> <a href="https://google.com">Matematica</a></th>
                                <td>Adalto</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row"> <a href="https://google.com">Matematica</a></th>
                                <td>Adalto</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <th scope="row"> <a href="https://google.com">Matematica</a></th>
                                <td>Adalto</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <th scope="row"> <a href="https://google.com">Matematica</a></th>
                                <td>Adalto</td>
                                <td>2</td>
                                <td>1</td>
                                <td>1</td>
                                <td>1</td>
                            </tr>
                            <th scope="row"> <a href="https://google.com">Matematica</a></th>
                            <td>Adalto</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            </tr>
                            <th scope="row"> <a href="https://google.com">Matematica</a></th>
                            <td>Adalto</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            </tr>
 
 
 
 
                            </tbody>
                        </table>
                
        </main>
        
    </div>

    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>