<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <title>Didatikos Dashboard</title>
</head>

<body>
    <div class="register-parent">

        <div class="register">
            <div class="register-title">
                <img class=imagem-container src="../images/Didatikos.png" alt="">
                <div class="form"></div>
                <form>
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" placeholder="nome completo">
                    </div>
                    <div class="form-group">
                        <label for="age">idade</label>
                        <input type="text" class="form-control" id="age" placeholder="idade">
                    </div>
                    <div class="form-group">
                        <label for="adress">Endereco</label>
                        <input type="text" class="form-control" id="adress" placeholder="Endereco">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Endereco">
                    </div>
                    <div class="form-group">
                        <label for="genre">Genero</label>
                        <select class="form-control" id="genre">
                            <option>Masculino</option>
                            <option>Feminino</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"> Repita sua Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn ">Cadastrar</button>
                </form>

            </div>
        </div>


    </div>

    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
</body>

</html>